a:link:hover, a:visited:hover {
    color: #23527c;
}

fieldset {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

legend {
    margin-bottom: 0;
    font-size: 16px;
    border-style: none;
}

select,
input {
    height: 23px;
    padding: 0 5px;
}

input[type=checkbox],
input[type=radio] {
    padding: 0;
    margin: 5px 5px 0;
    height: auto;
}

input[type=image] {
    padding: 0;
}

body {
    padding-top: 76px;
}

#s-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 20;
    background-image:url(?m=logo);
    padding: 10px 15px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
    text-align: right;
    transition: padding .5s;
}
body.scrolled #s-header {
    padding: 5px 15px;
}

#s-header a,
#s-header a:hover,
#s-header a:focus {
	color: #fff;
    display: block;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    transition: font-size .5s, margin .5s;
}
body.scrolled #s-header a {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#content {
    float: right;
    width: calc(100% - 250px);
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
}

#breadcrumb {
    white-space: normal;
    position: static;
    background: #fff;
    height: auto;
    line-height: inherit;
    padding: 0;
    margin: 0 0 20px;
}

#content > h2 {
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    margin: 0 0 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: inherit;
}

#content table {
    min-width: 100%;
    margin-bottom: 20px;
}

#content td, #content th {
    padding: .2em .3em;
}

.logout {
    position: static;
}
#logout {    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;    
    color: #333;
    background-color: #fff;
    height: auto;
}
#logout:hover {	
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#menu {
    position: static;
    background-color: #ccc;
    padding: 15px;
    margin: 0;
    border-bottom: 2px groove #eee;
    width: 250px;
    box-sizing: border-box;
    overflow-x: auto;
}
#menu > h1 {
    margin: 0 -15px 15px;
    padding: 0;
    font: inherit;
    background-color: transparent;
    border-bottom: 2px groove #eee;
}
#menu > h1 > .version {
    display: block;
    float: left;
    font-size: inherit;
    color: #333;
    padding: 15px;
}
#menu > h1 > a {
    display: block;
    padding: 18px 15px;
}
#menu > h1 > .version:before {
    content: 'Adminer ';
}
#menu > h1 > ul {
    padding-bottom: 15px;
    border-bottom: 2px groove #eee;
}
#menu > h1 li.active {
    font-weight: normal;
    background-color: #fff;
}
#menu .nav a {
    color: #337ab7;
}
#menu > h1 > form {
    float: left;
    padding: 0 15px;
}
#menu > h1 > p {
    color: #333;
    border-bottom: none;
    padding: 18px 15px;
    border-bottom: 2px groove #eee;
}
#menu .glyphicon-user {
    color: #337ab7;
    font-size: 20px;
}

#menu p {
	padding: 10px 0;
    border-bottom: none;
}

#logins,
#tables {
    margin: 0 -5px;
}

#logins a,
#tables a {
    background: #ccc;
    display: inline-block;
    padding: 5px 5px;
}

#logins a:hover,
#tables a:hover {
    background: #eee;
}

#tables a.active {
    font-weight: normal;
    background: #fff;
}

#schema .table {
    display: inline-block;
    width: auto;
    background-color: #fff;
    padding: 0 5px;
}
#lang {
    display: none;
}

#s-mobile-menu {
	display: none;
}

@media (max-width: 768px), (max-device-width: 768px) {
    body {
        padding-top: 38px;
    }
    #s-header {
        padding: 5px 15px;
    }
    #s-header a {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    #s-mobile-menu {   
        display: inline-block;
        padding: 5px 30px;
        font-size: 16px;
        cursor: pointer;
        color: #fff;
    }
    #menu {
        display: none;
        position: fixed;
        top: 38px;
        left: 0;
        width: 100vw;
        max-height: calc(100% - 38px);
        overflow: auto;
    }
    body.open #menu {
        display: block;
    }
    #menu > h1 > p {
        top: 173px;
        z-index: 301;
    }
    #content {
        width: 100%;
        float: none;
    }
    #table > thead {
        display: none;
    }
    #table,
    #table > tbody {
    	display: block;
        border: none;
    }
    #table > tbody > tr {
    	display: block;
        border: 1px solid #999;
        margin-bottom: 5px;
    }
    #table > tbody > tr > td {
    	display: block;
        border-bottom: none;
        border-right: none;
        text-align: left;
        padding: 3px 8px;        
    	white-space: normal;
        overflow-wrap: anywhere;
        background: #fff;
    }
    #table > tbody > tr > td[data-f]:before {
    	content: attr(data-f) ': ';
        font-weight: bold;
    }
    #table > tbody > tr > td:first-of-type{
    	background: #ddf;
    }
    #table > tbody > tr > td:nth-of-type(3n+2) {
    	background: #f5f5f5;
    }
    #table > tbody > tr > td:nth-of-type(3n+0) {
    	background: #d9edf7;
    }
}