.pagination {
    display: block;
    padding-left: 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

textarea.form-control {
    height: auto;
}
th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > tbody > tr.active > td{
    background-color: #f5f5f5;
}
#mod-dir_table thead a.s1:after{
    content: ' ↓';
}
#mod-dir_table thead a.s-1:after{
    content: ' ↑';
}
#mod-dir_table td:first-of-type{
    width: 70px;
}
#mod-dir_table [type=checkbox] {
    margin-right: 8px;
}

#mod-dir_table label {
	margin: 0;
    display: flex;
    align-items: center;
}

#mod-dir_pager {
	display: inline-block;
    width: auto;
}
#uploading > div {
	margin-bottom: 5px;
}

@media (max-width: 768px) {
    .table,
    .table > thead, 
    .table > tbody {
    	display: block;
    }
    .table > thead > tr {
    	display: flex;
        justify-content: space-between;
        border-top: 1px solid #ddd;
    }
    .table > tbody > tr {
    	display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ddd;
    }
    .table > thead > tr > th {
    	display: block;
        border-top: none;
        border-bottom: none;        
    }
    .table > tbody > tr > td {
    	display: block;
        border-top: none;
        text-align: left;
        padding: 3px 8px;
    }
    .table > tbody > tr > td:nth-of-type(2) {
    	width: calc(100% - 70px);
    }
    .table > tbody > tr > td:nth-of-type(3) {
    	width: 110px;
    }
    .table > tbody > tr > td:nth-of-type(4) {
    	width: calc(100% - 110px);
        text-align: right;
    }
}