.alerts {
    position: relative;
    width: 100%;
}
.alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    background-color: rgba(255,255,255,.9);
    box-shadow: 1px 1px 4px #999;
    z-index: 300;
    padding: 15px 35px 15px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.s-controls {
    text-align: right;
    margin-bottom: 13px;
    overflow: hidden;
}
.s-controls > * {
    margin-left: 5px;
    margin-bottom: 2px;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 20;
    padding: 10px 15px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: #fff;
    background-image: url(?m=logo);
    background-size: contain;
    transition: padding .5s;
}
body.scrolled header {
    padding: 5px 15px;
}
header a {	
    display: block;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    transition: font-size .5s, margin .5s;
}
body.scrolled header a {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
}
#s-mobile-menu {
    display: none;
}
#s-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, .2);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
h4.modal-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn {
    margin-left: 5px;
}
@media (min-width: 769px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;    
    display: flex;
    justify-content: space-between;
    text-align: center;
}
figure {
    position: relative;
    display: inline-block;
}
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    filter: grayscale(100%);
    opacity: .5;
}

.icon-folder-open { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M848,-52 C848,-52,20,-52,20,-52 C20,-52,20,3,20,3 C20,3,167,508,167,508 C167,508,1020,508,1020,508 C1020,508,848,-52,848,-52Z M124,542 C124,542,20,153,20,153 C20,153,20,663,20,663 C20,663,159,663,159,663 C159,663,227,753,227,753 C227,753,444,753,444,753 C444,753,512,663,512,663 C512,663,848,663,848,663 C848,663,848,542,848,542 C848,542,124,542,124,542Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-folder-close { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M1020,-52 C1020,-52,20,-52,20,-52 C20,-52,20,508,20,508 C20,508,1020,508,1020,508 C1020,508,1020,-52,1020,-52Z M1020,542 C1020,542,20,542,20,542 C20,542,20,663,20,663 C20,663,159,663,159,663 C159,663,227,753,227,753 C227,753,444,753,444,753 C444,753,512,663,512,663 C512,663,1020,663,1020,663 C1020,663,1020,542,1020,542Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-cog { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M780,350 C780,350,780,350,780,350 C780,302,806.667,261.333,860,228 C860,228,860,228,860,228 C852,201.333,840.667,174,826,146 C826,146,826,146,826,146 C779.333,158,734,143.333,690,102 C690,102,690,102,690,102 C654,63.333,642.667,18,656,-34 C656,-34,656,-34,656,-34 C629.333,-47.333,601.333,-59.333,572,-70 C572,-70,572,-70,572,-70 C541.333,-15.333,497.333,12,440,12 C382.667,12,338.667,-15.333,308,-70 C308,-70,308,-70,308,-70 C278.667,-59.333,250.667,-47.333,224,-34 C224,-34,224,-34,224,-34 C237.333,19.333,226,64.333,190,101 C154,137.667,108.667,149.333,54,136 C54,136,54,136,54,136 C44.667,153.333,33.333,180.667,20,218 C20,218,20,218,20,218 C74.667,252.667,102,296.667,102,350 C102,350,102,350,102,350 C102,398,74.667,439.333,20,474 C20,474,20,474,20,474 C33.333,511.333,44.667,538.667,54,556 C54,556,54,556,54,556 C103.333,544,148.667,558.667,190,600 C190,600,190,600,190,600 C226,637.333,237.333,682.667,224,736 C224,736,224,736,224,736 C252,750.667,280,762,308,770 C308,770,308,770,308,770 C338.667,716.667,382.667,690,440,690 C497.333,690,541.333,716.667,572,770 C572,770,572,770,572,770 C600,762,628,750.667,656,736 C656,736,656,736,656,736 C642.667,684,654,638.667,690,600 C690,600,690,600,690,600 C734,558.667,779.333,544,826,556 C826,556,826,556,826,556 C840.667,528,852,500.667,860,474 C860,474,860,474,860,474 C806.667,440.667,780,399.333,780,350Z M440,168 C440,168,440,168,440,168 C490.667,168,533.667,185.667,569,221 C604.333,256.333,622,299.333,622,350 C622,400.667,604.333,444,569,480 C533.667,516,490.667,534,440,534 C389.333,534,346.333,516,311,480 C275.667,444,258,400.667,258,350 C258,299.333,275.667,256.333,311,221 C346.333,185.667,389.333,168,440,168Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-audio { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M226,122 C226,122,226,714,226,714 C226,714,760,830,760,830 C760,830,760,126,760,126 C761.333,98,751.333,71,730,45 C708.667,19,680,-0.667,644,-14 C644,-14,644,-14,644,-14 C601.333,-30,564.667,-32.667,534,-22 C503.333,-11.333,482.333,10,471,42 C459.667,74,462.333,106.333,479,139 C495.667,171.667,524,196,564,212 C564,212,564,212,564,212 C598.667,225.333,634,228.667,670,222 C670,222,670,222,670,222 C670,222,670,598,670,598 C670,598,316,516,316,516 C316,516,316,26,316,26 C316,-2,305.333,-29,284,-55 C262.667,-81,234,-100.667,198,-114 C198,-114,198,-114,198,-114 C155.333,-128.667,119,-131,89,-121 C59,-111,38.333,-90,27,-58 C15.667,-26,18,6.333,34,39 C50,71.667,78,96,118,112 C118,112,118,112,118,112 C154,125.333,190,128.667,226,122 C226,122,226,122,226,122Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-video { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M903,-150 C903,-150,20,-150,20,-150 C20,-150,20,850,20,850 C20,850,903,850,903,850 C903,850,903,-150,903,-150Z M65,51 C65,51,65,-31,65,-31 C65,-31,174,-31,174,-31 C174,-31,174,51,174,51 C174,51,65,51,65,51Z M65,237 C65,237,65,153,65,153 C65,153,174,153,174,153 C174,153,174,237,174,237 C174,237,65,237,65,237Z M65,420 C65,420,65,338,65,338 C65,338,174,338,174,338 C174,338,174,420,174,420 C174,420,65,420,65,420Z M65,606 C65,606,65,524,65,524 C65,524,174,524,174,524 C174,524,174,606,174,606 C174,606,65,606,65,606Z M65,790 C65,790,65,707,65,707 C65,707,174,707,174,707 C174,707,174,790,174,790 C174,790,65,790,65,790Z M221,317 C221,317,221,-119,221,-119 C221,-119,702,-119,702,-119 C702,-119,702,317,702,317 C702,317,221,317,221,317Z M221,784 C221,784,221,348,221,348 C221,348,702,348,702,348 C702,348,702,784,702,784 C702,784,221,784,221,784Z M749,51 C749,51,749,-31,749,-31 C749,-31,858,-31,858,-31 C858,-31,858,51,858,51 C858,51,749,51,749,51Z M749,237 C749,237,749,153,749,153 C749,153,858,153,858,153 C858,153,858,237,858,237 C858,237,749,237,749,237Z M749,420 C749,420,749,338,749,338 C749,338,858,338,858,338 C858,338,858,420,858,420 C858,420,749,420,749,420Z M749,606 C749,606,749,524,749,524 C749,524,858,524,858,524 C858,524,858,606,858,606 C858,606,749,606,749,606Z M749,790 C749,790,749,707,749,707 C749,707,858,707,858,707 C858,707,858,790,858,790 C858,790,749,790,749,790Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); } 
.icon-link { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M28,96 C28,96,28,96,28,96 C16.667,140,16.667,184,28,228 C39.333,272,61.667,310.333,95,343 C95,343,95,343,95,343 C95,343,226,474,226,474 C258.667,506.667,297,529,341,541 C385,553,428.667,553,472,541 C515.333,529,554,506.667,588,474 C588,474,588,474,588,474 C601.333,460.667,608,444.333,608,425 C608,405.667,601.333,389,588,375 C574.667,361,558,354.333,538,355 C518,355.667,501.667,362.333,489,375 C489,375,489,375,489,375 C465.667,397.667,438.333,409,407,409 C375.667,409,348.667,397.667,326,375 C326,375,326,375,326,375 C326,375,194,244,194,244 C172,221.333,161,194,161,162 C161,130,172.167,102.833,194.5,80.5 C216.833,58.167,244,47,276,47 C308,47,335,58,357,80 C357,80,357,80,357,80 C357,80,384,108,384,108 C436,82.667,490.667,71,548,73 C548,73,548,73,548,73 C548,73,457,-19,457,-19 C424.333,-51.667,386,-73.667,342,-85 C298,-96.333,254,-96.333,210,-85 C166,-73.667,127.667,-51.667,95,-19 C62.333,13.667,40,52,28,96Z M319,276 C319,276,319,276,319,276 C319,295.333,325.833,311.833,339.5,325.5 C353.167,339.167,369.667,346,389,346 C408.333,346,425,339,439,325 C439,325,439,325,439,325 C461,302.333,488,291,520,291 C552,291,579.333,302.333,602,325 C602,325,602,325,602,325 C602,325,733,457,733,457 C755.667,479.667,767,506.667,767,538 C767,569.333,755.833,596.333,733.5,619 C711.167,641.667,684,653,652,653 C620,653,592.667,641.667,570,619 C570,619,570,619,570,619 C570,619,543,593,543,593 C491.667,617,437,628.667,379,628 C379,628,379,628,379,628 C379,628,470,719,470,719 C503.333,751.667,542,773.667,586,785 C630,796.333,673.667,796.333,717,785 C760.333,773.667,798.5,751.667,831.5,719 C864.5,686.333,887,648,899,604 C911,560,911,516,899,472 C887,428,864.667,389.667,832,357 C832,357,832,357,832,357 C832,357,701,226,701,226 C668.333,193.333,630,171,586,159 C542,147,498,147,454,159 C410,171,372,193.333,340,226 C340,226,340,226,340,226 C326,240,319,256.667,319,276Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-file { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M855,564 C855,564,591,564,591,564 C591,564,591,828,591,828 C599.667,822.667,606.667,817.333,612,812 C612,812,612,812,612,812 C612,812,839,584,839,584 C844.333,579.333,849.667,572.667,855,564 C855,564,855,564,855,564Z M520,850 C520,850,520,546,520,546 C520,531.333,525.333,519,536,509 C546.667,499,559.333,493.667,574,493 C574,493,574,493,574,493 C574,493,877,493,877,493 C877,493,877,-96,877,-96 C877,-111.333,872,-124,862,-134 C852,-144,839.333,-149.333,824,-150 C824,-150,824,-150,824,-150 C824,-150,74,-150,74,-150 C58.667,-150,46,-144.667,36,-134 C26,-123.333,20.667,-110.667,20,-96 C20,-96,20,-96,20,-96 C20,-96,20,796,20,796 C20,811.333,25.333,824,36,834 C46.667,844,59.333,849.333,74,850 C74,850,74,850,74,850 C74,850,520,850,520,850Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
.icon-image { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50' viewBox='0,0,990,990'%3E%3Cg transform='translate(100,800) scale(0.8,-0.8)'%3E%3Cpath fill='%236495ed' d='M665,812 C665,812,839,638,839,638 C849.667,627.333,858.667,613.333,866,596 C873.333,578.667,877,562,877,546 C877,546,877,546,877,546 C877,546,877,-96,877,-96 C877,-111.333,872,-124,862,-134 C852,-144,839.333,-149.333,824,-150 C824,-150,824,-150,824,-150 C824,-150,74,-150,74,-150 C58.667,-150,46,-144.667,36,-134 C26,-123.333,20.667,-110.667,20,-96 C20,-96,20,-96,20,-96 C20,-96,20,796,20,796 C20,811.333,25.333,824,36,834 C46.667,844,59.333,849.333,74,850 C74,850,74,850,74,850 C74,850,574,850,574,850 C588.667,850,605,846.333,623,839 C641,831.667,655,822.667,665,812 C665,812,665,812,665,812Z M591,774 C591,774,591,774,591,774 C591,774,591,564,591,564 C591,564,801,564,801,564 C797.667,575.333,793.667,583,789,587 C789,587,789,587,789,587 C789,587,614,762,614,762 C610,766.667,602.333,770.667,591,774Z M91,-79 C91,-79,806,-79,806,-79 C806,-79,806,493,806,493 C806,493,574,493,574,493 C558.667,493,546,498.333,536,509 C526,519.667,520.667,532,520,546 C520,546,520,546,520,546 C520,546,520,779,520,779 C520,779,91,779,91,779 C91,779,91,-79,91,-79Z M556,350 C556,350,734,171,734,171 C734,171,734,-7,734,-7 C734,-7,163,-7,163,-7 C163,-7,163,100,163,100 C163,100,270,207,270,207 C270,207,341,136,341,136 C341,136,556,350,556,350Z M270,279 C270,279,270,279,270,279 C240,279,214.667,289.333,194,310 C173.333,330.667,163,356,163,386 C163,416,173.333,441.333,194,462 C214.667,482.667,240,493,270,493 C300,493,325.333,482.667,346,462 C366.667,441.333,377,416,377,386 C377,356,366.667,330.667,346,310 C325.333,289.333,300,279,270,279Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");}

.icon.saccess {
    filter: none;
}
.icon + b {
    font: bold 9px 'Arial';
    color: #333;
    position: absolute;
    left: -2px;
    right:0;
    text-align: center;
    bottom: 8px;
    text-transform: uppercase;
    overflow: hidden;
}
.icon.ext-null + b {
	display: none;
}
.icon.type-php + b {
    color: #4f5b93;
}
.icon.type-html + b {
    color: #3B240B;
}
.icon.type-js + b {
    color: #8A0808;
}
.icon.type-css + b {
    color: #0B4C5F;
}
.icon.type-image + b {
    color: #0B3B0B;
}
.icon.type-audio + b {
    color: #0B3861;
}
.icon.type-video + b {
    color: #3B0B2E;
}
.icon.ext-doc + b,
.icon.ext-docx + b,
.icon.ext-odf + b {
    color: #0B3861;
}
.icon.ext-xls b,
.icon.ext-xlsx b {
    color: #0B3B24;
}
.icon.ext-ppt + b,
.icon.ext-pdf + b {
    color: #3B0B0B;
}

.icon.big-icon {
    width: 64px;
    height: 64px;
}
.icon.big-icon + b {
    font-size: 16px;
    bottom: 16px;
    overflow: visible;
}

header a:hover,
header a:focus {
    color: #fff;
}
main {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
menu {
    flex-basis: 250px;
    padding: 15px;
    background-color: silver;
    margin: 0;
}
#s-menu {
    margin-left: -15px;
    margin-right: -15px;
}
#s-menu .nav li.active a {
    background-color: #fff;
}
menu > div {
    margin: 0 -15px 15px;
    padding: 0 15px 15px;
    border-bottom: 2px groove #eee;
}
article {
    flex: 1;
    padding: 15px 15px 0;
    background-color: white;
    overflow: auto;
}
#code {
    width: 100%;
    border-style: none;
    font-family: 'Courier New', monospace;
    color: #000;
    background-color: #eee;
    padding: 10px;
    box-sizing: border-box;
    height: 800px;
}
#textarea {
    border: 1px solid #ccc;
}
#mod-image img {
    border: 1px solid #ccc;
    max-width: 90%;
}

video {
    max-width: 100%;
}

@media (max-width: 768px) {
    header {
        padding: 5px 15px;
    }
    header a {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    #s-mobile-menu {    
        display: inline-block;
        padding: 5px 30px;
        font-size: 16px;
        cursor: pointer;
    }
    main {
        flex-direction: column;
        padding-top: 38px;
    }
    menu {
        position: fixed;
        left: 0;
        top: 38px;
        width: 100vw;
        z-index: 20;
        display: none;
    }
    body.open menu {
        display: block;
    }
}